<div>
    <div>{{selectedItem? '수정' : '추가'}}</div>
    <table class="table table-bordered remove-margin">
        <!-- :orgname, :useyn, :managertel, :managername -->
        <tbody>
        <tr>
            <th class="list-header-option">이용기관명</th>
            <td class="list-contents-option"><input type="text" ng-model="inputData['value']"></td>
            <th class="list-header-option">사용여부</th>
            <td class="list-contents-option">
                <select ng-model="inputData['useyn']">
                    <option value="Y">사용함</option>
                    <option value="N">사용안함</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class="list-header-option">관리자명</th>
            <td class="list-contents-option"><input type="text" ng-model="inputData['managername']"></td>
            <th class="list-header-option">관리자 연락처</th>
            <td class="list-contents-option"><input type="text" ng-model="inputData['managertel']"></td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-default" ng-click="save()">저장</button>
</div>