<link rel="stylesheet" href="styles/layout/contents.css">

<div style="overflow: scroll; height: 500px">
    <table class="table table-hover table-condensed table-bordered text-center">
        <thead>
        <tr>
            <th rowspan="2">
                이용기관(수신지)<br/>[송신지 : 본청] ▼
            </th>
            <th colspan="3">
                R값
            </th>
            <th colspan="3">
                MOS
            </th>
        </tr>
        <tr>
            <th>금일</th>
            <th>전일</th>
            <th>전일비</th>
            <th>금일</th>
            <th>전일</th>
            <th>전일비</th>
        </tr>
        </thead>
        <tbody>
        <!-- ng-repeat="item in items"-->
<!--        <tr>
            <td>
                {{item['field']}}
            </td>
            <td>
                {{item['field']}}
            </td>
            <td>
                {{item['field']}}
            </td>
            <td>
                {{item['field']}}
            </td>
            <td>
                {{item['field']}}
            </td>
            <td>
                {{item['field']}}
            </td>
            <td>
                {{item['field']}}
            </td>
        </tr>-->
        <tr>
            <td>
                f1
            </td>
            <td>
                f2
            </td>
            <td>
                f3
            </td>
            <td>
                f4
            </td>
            <td>
                f5
            </td>
            <td>
                f6
            </td>
            <td>
                f7
            </td>
        </tr>
        <tr>
            <td>
                f1
            </td>
            <td>
                f2
            </td>
            <td>
                f3
            </td>
            <td>
                f4
            </td>
            <td>
                f5
            </td>
            <td>
                f6
            </td>
            <td>
                f7
            </td>
        </tr>
        <tr>
            <td>
                f1
            </td>
            <td>
                f2
            </td>
            <td>
                f3
            </td>
            <td>
                f4
            </td>
            <td>
                f5
            </td>
            <td>
                f6
            </td>
            <td>
                f7
            </td>
        </tr>
        <tr><!-- ng-if="items.length == 0" -->
            <td colspan="7">
                조회된 데이터가 없습니다.
            </td>
        </tr>
        </tbody>
    </table>
</div>