<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/layout/contents.css">
    <!-- endbuild -->
</head>

<link rel="stylesheet" href="../../../styles/layout/contents.css" xmlns="http://www.w3.org/1999/html">
<div class="title-option">
    　　　기본값 설정
</div>

<link rel="stylesheet" href="../../../styles/layout/contents.css" xmlns="http://www.w3.org/1999/html">
<div class="contents-background contents-center" ng-controller="">
    <table class="table  remove-margin contents-center list-option">
        <tbody>
        <thead>
        <tr class="list-header-option">
            <th>
                기본값 명
            </th>

            <th>
                기본값
            </th>
        </tr>
        </thead>
        <tr>
            <th class="list-header-option">측정 주기(초)</th>
            <td><input type="text"></td>

        </tr>
        <tr>
            <th class="list-header-option">측정 통화시간(초)</th>
            <td><input type="text"></td>

        </tr>
        <tr>

            <th class="list-header-option">측정 횟수(회)</th>
            <td><input type="text"></td>

        </tr>

        <tbody>
        </tbody>
    </table>
    <div class="row pull-right"style="margin-top:30px">
        <button class="btn btn-style">확 인</button>
        <button class="btn btn-base">취 소</button>
    </div>
</div>