<div>
    <table class="table table-bordered remove-margin">
        <!-- :orgname, :useyn, :managertel, :managername -->
        <tbody>
        <tr>
            <th class="list-header-option">이용기관명</th>
            <td class="list-contents-option"><input type="text" ng-model="inputData.orgname"></td>
            <th class="list-header-option">사용여부</th>
            <td class="list-contents-option"><input type="text" ng-model="inputData.useyn"></td>
        </tr>
        <tr>
            <th class="list-header-option">관리자명</th>
            <td class="list-contents-option"><input type="text" ng-model="inputData.managername"></td>
            <th class="list-header-option">관리자 연락처</th>
            <td class="list-contents-option"><input type="text" ng-model="inputData.managertel"></td>
        </tr>
        </tbody>
    </table>
</div>