<link rel="stylesheet" href="styles/layout/login.css">

<div class="login">
    <div>
        <div class="row login-header">
            <div class="pull-left">
                <img src="images/logo/gnt-logo.png">
            </div>
            <div class="pull-right">
                <h2>음성품질관리시스템</h2>
            </div>
        </div>

        <div class="login-input">
            <div class="input-area">
                <input type="text" class="form-control" ng-model="input.login.id">
                <input type="password" class="form-control" ng-model="input.login.pw">

                <p><a class="btn btn-lg btn-success form-control" ng-click="tryLogin()">Login</a></p>

                > <a href="" ng-href="">ID 등록신청</a>
                > <a href="" ng-href="">이용자 ID 찾기</a>
                > <a href="" ng-href="">이용자 PWD 찾기</a>
            </div>
        </div>

        <div class="login-footer">
            <p>test sample, by cione</p>
        </div>
    </div>
</div>
